/* LOADER */
.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 26;
    display: block;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader_container {
    width: 100%;
    height: 100%;
    z-index: 25;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.727);
    justify-content: center;
    justify-items: center;
}

.showLoader{
    display: block;
}

.showLoader main, .showLoader header{
    filter: blur(5px);
  }

.loader img{
    width: 200px;
    height: 200px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading_bar {
    margin-left: 35px;
    display: block;
    --height-of-loader: 4px;
    --loader-color: #f02c00;
    width: 130px;
    height: 7px;
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
  }
  
  .loading_bar::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }


/* NAV */

.hidden {
    display: none;
}

@keyframes hideNav {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

nav {
    position: fixed;
    margin-top: 32px;
    width: 15%;
    z-index: 3;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    justify-content: center;
}

nav ul li {
    opacity: 0;
    background: linear-gradient(to right, rgb(255, 166, 0), rgba(215, 146, 16, 0.907), rgba(194, 128, 6, 0.66), rgba(168, 117, 23, 0.534));
    text-transform: uppercase;
    animation: showNav 0.5s ease forwards;
    padding: 8px 12px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Lato;
    font-size: large;
}

nav ul li:nth-child(1) {
    animation-delay: 0s;
}

nav ul li:nth-child(2) {
    animation-delay: 0.3s;
}

nav ul li:nth-child(3) {
    animation-delay: 0.6s;
}

nav ul li:nth-child(4) {
    animation-delay: 0.9s;
}

nav ul li:nth-child(5) {
    animation-delay: 1.2s;
}

@keyframes showNav {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* MULTIMEDIA CARDS */
.main_multimedia_container {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-top: 60px;
}

.multimedia_container:nth-child(1).float-animation {
    animation-delay: 0s;
}

.multimedia_container:nth-child(2).float-animation {
    animation-delay: 1s;
}

.multimedia_container:nth-child(3).float-animation {
    animation-delay: 2s;
}

.float-animation {
    animation: appear 1s ease-in-out;
    position: sticky;
    transform-origin: center;
    animation-fill-mode: forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(200px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.multimedia_container {
    display: block;
    width: 332.96px;
    justify-items: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: relative;
    opacity: 0;
}

.multimedia_container p {
    margin-top: 20px;
}

.multimedia_container img {
    width: 332.96px;
    height: 302.69px;
    top: 2174px;
    left: 847.04px;
    gap: 0px;
    border-radius: 41px 0px 0px 0px;
    border: 9px 0px 0px 0px;
    opacity: 0px;
}

/* DOWLOAD SECTION */

.dowload_section {
    background-image: url(../img/background_dowload_section.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-items: center;
    color: white;
    overflow: hidden;
}

#info_container {
    justify-items: center;
}

.dowload_section h1 {
    margin-top: 180px;
    margin-bottom: 72px;
    font-family: Lato;
    font-size: 61.14px;
    font-weight: 600;
    line-height: 67.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    width: 890px;
}

.dowload_section span {
    font-family: Lato;
    font-size: 61.14px;
    font-style: italic;
    font-weight: 700;
    line-height: 67.25px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.dowload_section button {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
    width: 565px;
}

#munequitos {
    position: relative;
    height: fit-content;
    transition: transform 0.1s ease-out;
    /* Suaviza el movimiento */
    justify-content: center;
}

/* FULL COLOR SECTION */
.full_color_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
}

.full_color_grid img {
    width: 256px;
    height: 399.36px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.full_color_grid img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.6),
        0 6px 20px rgba(0, 0, 0, 0.15);
    filter: brightness(1.2);
    z-index: 1;
}


/* NEWS SECTION */

.news_section_container h1 {
    width: 816px;
    height: 171px;
    opacity: 0px;
    font-family: Lato;
    font-size: 60px;
    font-weight: 600;
    line-height: 56.7px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: black;
}

.characters_and_form_container h1,
.characters_and_form_container p,
.characters_and_form_container img {
    margin-left: 100px;
}

.news_section_container {
    background: linear-gradient(180deg, #FFFFFF 0%, #ADF8FD 47.09%, #EDFDFF 88.29%, #FFFFFF 107.02%);
    height: 1380px;
    position: relative;
}

.characters_and_form_container {
    justify-items: left;
    width: max-content;
    display: flex;
    flex-direction: column;
    z-index: 3;
}

#company_logo {
    width: 231px;
    height: 145px;
    top: 13264px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
}

.input_button_container {
    margin-top: 32px;
    display: flex;
    align-items: center;
    margin-left: 100px;
    border-radius: 50px;
    box-shadow: 4px 5px 0px 0px rgba(2, 24, 126, 1);
    margin-bottom: 40px;
}

#form input {
    flex: 1;
    padding: 28px;
    border: 9px solid white;
    border-right: 4.5px solid white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: none;
    background-color: #ECECEC;
    font-size: 16px;
    padding-right: 265px;
    padding-left: 25px;
}

#form button {
    background-color: rgba(131, 194, 82, 1);
    color: white;
    text-transform: uppercase;
    padding: 28px 20px;
    border: 9px solid white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-left: 4.5px solid white;
    cursor: pointer;
    font-family: Lato;
    font-size: 20px;
    font-weight: 900;
    line-height: 18.9px;
    letter-spacing: 0.11em;
}

.characters_and_form_container p {
    width: 578px;
    height: 95px;
    top: 13158px;
    left: 100px;
    gap: 0px;
    opacity: 0px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.characters_and_form_container p span {
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

#number2 {
    width: 480px;
    height: 480px;
    z-index: 1;
    position: absolute;
    left: 65px;
    top: 858px;
}

#number3 {
    width: 509px;
    height: 509px;
    z-index: 1;
    position: absolute;
    left: 407px;
    top: 829px;
}

#number7 {
    height: 997px;
    width: 561px;
    z-index: 1;
    position: absolute;
    left: 756px;
    top: 423px;
}

#grass_image {
    position: absolute;
    left: 0;
    top: 991px;
}