.title_friends {
    font-size: 60px;
    font-weight: 600;
    line-height: 56.7px;
    width: 802px;
    height: 57px;
}

.content {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: center;
    align-items: start;
    gap: 120px;
    padding-top: 100px;
}

.description:first-child {
    padding-top: 200px;
}

.image-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    position: relative;
    width: 50%;
}

.image-container img {
    width: 500px;
    height: 500px;
    position: sticky;
    left: calc(50% - 250px);
    transition: .10s;
}

.images_character:nth-child(1) {
    top: 150px;
}

.images_character:nth-child(2) {
    top: 650px;
}

.images_character:nth-child(3) {
    top: 1150px;
}

.images_character:nth-child(4) {
    top: 1650px;
}

.images_character:nth-child(5) {
    top: 2150px;
}

.images_character:nth-child(6) {
    top: 2650px;
}

.images_character:nth-child(7) {
    top: 3150px;
}

.images_character:nth-child(8) {
    top: 3650px;
}

.images_character:nth-child(9) {
    top: 4150px;
}

.images_character:nth-child(10) {
    top: 4650px;
}

.images_character:nth-child(11) {
    top: 5150px;
}

.descriptions {
    display: flex;
    flex-direction: column;
    gap: 450px;
}

.description p {
    font-size: 20px;
    font-weight: 400;
    line-height: 18.9px;
    height: 114px;
    width: 467px;
}

.description,
.title_friends {
    font-family: Lato;
    text-align: left;
}

.description {
    display: flex;
    flex-direction: column;
}

.description h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 37.8px;
    width: 550px;
    height: 38px;
}