.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0px;
    right: 0px;
}

.blur::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 32, 43, 0.5);
    backdrop-filter: blur(5px);
    z-index: 2;
}

.session_forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 12px;
    padding: 12px 28px;
    background-color: var(--background_400);
    color: var(--white_200);
    box-shadow: 8px 8px 8px var(--background_600);
}

.session_forms form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 2px;
}

.combined_inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
}

.combined_inputs .input:first-child {
    width: 126px;
}

.combined_inputs .input:nth-child(2) {
    width: 66px;
}

.input input,
.password_input {
    background-color: var(--background_300);
    border-radius: 8px;
    border: 2px solid var(--white_500);
    outline: none;
    color: var(--white_200);
    box-sizing: border-box;
    width: 100%;
}

.input input {
    padding: 8px;
}

.input input::placeholder {
    color: #ededed61;
}

.password_input {
    display: flex;
    align-items: center;
    padding-right: 8px;
}

.password_input input {
    border: 0;
}

.logo_form {
    width: 100%;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_form_img img {
    width: 50px;
    height: 50px;
}

.close_button img {
    width: 25px;
    height: 25px;
}

.session_options {
    display: flex;
    margin-top: 4px;
    gap: 8px;
}

.session_options button {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    border-radius: 20px;
}

.session_options button h3 {
    font-family: var(--font_condensed);
    font-size: var(--size_s);
    font-weight: 400;
}

.google_button {
    background-color: var(--white_200);
    color: var(--background_700);
}

.facebook_button {
    background-color: var(--facebook_color);
    color: var(--white_200);
}

.session_options img {
    width: 20px;
    height: 20px;
}

.session_forms h3,
.session_forms label {
    font-family: var(--font_condensed);
    font-size: var(--size_s);
}

.separation {
    display: flex;
    align-items: center;
}

.separation p {
    margin: 4px;
}

.captcha_button {
    width: 200px;
    margin: 12px 0;
}

.send_form_buttons {
    display: flex;
    gap: 12px;
    margin: 4px 0;
}

.send_form_buttons button {
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 130px;
    font-family: var(--font_lalezar);
    font-size: var(--size_m);
    transition: scale .5s;
}

.send_form_buttons button:hover {
    scale: 1.1;
}

.active_button {
    background-color: var(--primary_500);
    color: var(--background_500);
}

.unactive_button {
    background-color: transparent;
    border: 2px solid var(--secondary_400);
    color: var(--secondary_400);
}

#correct_session {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 3;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    background: linear-gradient(to bottom, var(--background_500), var(--background_300));
    border-radius: 12px;
    border: 3px solid var(--white_300);
    font-family: var(--font_condensed);
    color: var(--white_200);
    padding: 12px 24px;
}

#correct_session button {
    margin-top: 20px;
    padding: 8px;
    border-radius: 8px;
    border: 3px solid var(--white_200);
    background-color: var(--accent);
    color: var(--white_200);
    font-family: var(--font_roboto);
    font-weight: bold;
    font-size: var(--size_m);
    cursor: pointer;
    transition: all .5s;
}

#correct_session button:hover {
    scale: 1.2;
    box-shadow: 0px 0px 15px rgba(218, 103, 9, 0.836);
}
  
.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    display: none;
    animation: spin 1s linear infinite;
}

.loading span {
    display: none;
}

.loading .spinner{
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}