:root{
    --primary_400: #80FF7C;
    --primary_500: #18B613;
    --primary_600: #0F5B0D;
    --secondary_400: #97FFEA;
    --secondary_500: #12C8A3;
    --secondary_700: #0E7662;
    --background_600: #1D1A25;
    --background_500: #23202B;
    --background_400: #352D48;
    --background_300: #62508D;
    --accent: #EC6C04;
    --white_200: #EDEDED;
    --white_300: #D1D1D1;
    --white_400: #B6B6B6;
    --white_500: #919191;
    --white_700: #555555;

    --font_roboto: "Roboto", sans-serif;
    --font_condensed: "Roboto Condensed", sans-serif;
    --font_lalezar: "Lalezar", system-ui;
    --font_session: "Google Sans", arial, sans-serif;
    --size_xxxl: 40px;
    --size_xxl: 32px;
    --size_xl: 24px;
    --size_l: 20px;
    --size_m: 16px;
    --size_s: 14px;
    --size_xs: 12px;
    --facebook_color: #1877F2;
}

.session_forms{
    display: flex;
    flex-direction: column;
/*preguntar como hago para que quede fijo el form en el medio en ambos ejes, porque cuando agrando la pantalla se sube*/
    position: absolute;
    z-index: 2;
    transform: translate(-50%, -50%);
    justify-content: center;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    padding: 12px;
    background-color: var(--background_400);
    align-items: center;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 0px;
    right: 0px;
}

#signin_form{
    top: 80%;
}

#login_form{
    top: 50%;
}

#signin_form, #login_form{
    left: 50%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, .password_input{
    background-color: var(--background_300);
    border-radius: 8px;
    border: 2px solid var(--white_500);
    outline: none;
}

input{
    padding: 8px;
    justify-content: start;
    width: 189px;
    margin-top: 2px;
}

label{
    margin-top: 16px;
    margin-bottom: 2px;
}

label, .session_forms>h3{
    color: var(--white_300);
}

.password_input{
    display: flex;
    align-items: center;
}

.password_input input{
    border-color: transparent;
    width: 155px;
}

.password_input img{
    margin-right: 6px;
}


.logo_form{
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.logo_form_img img{
    width: 50px;
    height: 50px;
}

.close_button{
    width: 25px;
    height: 25px;
}

.session_options{
    display: flex;
    margin-top: 30px;
}

.session_options button{
    border-radius: 20px;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 8px;
    gap: 4px;
}

.session_options button h3{
    margin-left: 4px;
    font-family: var(--font_session);
    font-size: var(--size_s);
}

.google_button{
    background-color: rgb(255, 255, 255);
    color: black;
}

.facebook_button{
    background-color: var(--facebook_color);
    color: var(--white_200);
}

.session_options img{
    width: 24px;
    height: 24px;
}

h3, label{
    font-family: var(--font_condensed);
    font-size: var(--size_s);
}

.separation{
    display: flex;
    align-items: center;
}

.separation p{
    margin: 4px;
    color: var(--white_300);
}

.captcha_button{
    display: flex;
    background-color: var(--white_200);
    height: 42px;
    gap: 8px;
    padding: 4px;
    border-radius: 8px;
    align-items: center;
    margin-top: 30px;
    font-family: var(--font_roboto);
}

.captcha_button input{
    width: 20px;
}

.captcha_button img{
    width: 32px;
    height: 32px;
}

.sendForm_buttons{
    display: flex;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 12px;
}

.sendForm_buttons button{
    border-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 130px;
    font-family: var(--font_lalezar);
    font-size: var(--size_m);
}

.sendForm_buttons button:hover{
    scale: 1.1;
}

#profile_menu button{
    color: var(--white_200);
}

#profile_menu button:hover{
    color: var(--primary_400);
}

.active_button{
    background-color: var(--primary_500);
    color: var(--background_500);
}

.unactive_button{
    background-color: transparent;
    border: 3px solid var(--secondary_400);
    color: var(--secondary_400);
    letter-spacing: 2px;
}

.unactive_button:hover{
    border: 3px solid var(--secondary_500);
    color: var(--secondary_500);
}

