canvas {
    border: 2px solid black;
    background-image: url(../../../TP2/EntregaFinal/imgs/game_image.jpeg);
    background-size: cover;
    box-shadow: -747px -622px rgba(0, 0, 0, 0.75) inset;
    position: relative;
}

.countdown {
    display: flex;
    gap: 1px;
    border: 1px solid black;
    width: 100px;
    height: 45px;
    top: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    left: 25%;
}

.countdown,
.resultado_empate_tiempo,
.resultado_empate_tablero_lleno {
    z-index: 1;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
}

.resultado_empate_tiempo,
.resultado_empate_tablero_lleno {
    display: none;
    border: 2px solid black;
    flex-direction: column;
    width: 100px;
    height: 100px;
    padding: 15px;
}

.visible {
    display: flex;
}